<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet"
    />

    <title>VIJAY BHAI KI WEBSITE</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css" />

    <link rel="stylesheet" href="assets/css/tooplate-artxibition.css" />
  </head>

  <body>
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img
                  style="filter: invert(1)"
                  src="/assets/images/logo_text.png"
                  width="130"
                  alt="Logo"
                />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="rent-venue.html">Rent Venue</a></li>
                <li><a href="shows-events.html">Shows & Events</a></li>
                <li><a href="tickets.html">Tickets</a></li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
      <div class="counter-content">
        <ul>
          <li>Days<span id="days"></span></li>
          <li>Hours<span id="hours"></span></li>
          <li>Minutes<span id="minutes"></span></li>
          <li>Seconds<span id="seconds"></span></li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="next-show">
                <i class="fa fa-arrow-up"></i>
                <span>Next Show</span>
              </div>
              <h6>Opening on Wednesday, March 12th</h6>
              <h2>The Grand Holi Festival 2025</h2>
              <div class="main-white-button">
                <a href="/tickets">Purchase Tickets</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-show-events owl-carousel">
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-01.jpg" alt=""
                /></a>
              </div>
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-02.jpg" alt=""
                /></a>
              </div>
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-03.jpg" alt=""
                /></a>
              </div>
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-04.jpg" alt=""
                /></a>
              </div>
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-01.jpg" alt=""
                /></a>
              </div>
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-02.jpg" alt=""
                /></a>
              </div>
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-03.jpg" alt=""
                /></a>
              </div>
              <div class="item">
                <a href="event-details.html"
                  ><img src="assets/images/show-events-04.jpg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- *** Amazing Venus ***-->
    <div class="amazing-venues">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="left-content">
              <h4>Splash into Colors, Dance into Joy! 🎨🎶</h4>
              <p>
                Get ready to celebrate the festival of colors like never before!
                🌈✨ Join us for an electrifying Holi Party filled with vibrant
                colors, foot-tapping music, delicious food, and endless fun.
              </p>
              <p>
                Dance to the beats of the DJ, enjoy rain dance, and create
                unforgettable memories with friends. Don't miss out on the most
                colorful celebration of the year!"
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="right-content">
              <h5><i class="fa fa-map-marker"></i> Visit Us</h5>
              <span
                >IILM ROAD<br />Greater Noida, 201306<br />Uttar Pradesh</span
              >
              <div class="text-button">
                <a
                  href="https://maps.app.goo.gl/4WzeaWD9Zc2uPCiy7"
                  target="_blank"
                  >Need Directions? <i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- *** Footer *** -->
    <footer class="mt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="address">
              <h4>Vivaan Farms</h4>
              <span
                >Sector 150<br />Noida, 201310<br />Gautama Budhha Nagar, Uttar
                Pradesh</span
              >
            </div>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <p><b>Owner: </b>Shreshtha Gupta</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <p class="copyright">
                    Copyright 2025 <b>Instamo Entertaintments</b> Company
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="sub-footer">
              <div class="row">
                <div class="col-lg-3">
                  <div class="logo">
                    <img width="100px" src="/assets/images/logo_text.png" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="menu">
                    <ul>
                      <li><a href="/" class="active">Home</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/tickets">Tickets</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="social-links">
                    <ul>
                      <li>
                        <a href="https://x.com/withinstamo" target="_blank"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="mailto:instamoentertainment@gmail.com"
                          ><i class="fa fa-envelope"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://instagram.com/instamo_entertainments"
                          ><i class="fa fa-instagram"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/mixitup.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/owl-carousel.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
