<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track Your Order</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/assets/css/animate.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" />
  </head>
  <body>
    <div class="full-body">
      <div class="header">
        <div
          class="d-inline-flex align-items-center justify-content-center text-center w-100"
        >
          <div>
            <a href="/">
              <img
                alt="Logo Main"
                src="/assets/images/logo_text.png"
                width="100px"
              />
            </a>
            <h1 class="p-0 m-0">Track your Order</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    body {
      background: url(assets/images/banner_bg.jpg) fixed;
      background-size: cover;
    }

    .header {
      background: white;
      text-transform: uppercase;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      padding: 2rem 0;
      letter-spacing: 2px;
    }
  </style>
</html>
