<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Your Pass</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/assets/css/animate.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" />
  </head>
  <body>
    <div class="full-body">
      <div class="header">
        <div
          class="d-inline-flex align-items-center justify-content-center text-center w-100"
        >
          <div>
            <a href="/">
              <img
                alt="Logo Main"
                src="/assets/images/logo_text.png"
                width="100px"
              />
            </a>
            <h1 class="p-0 m-0">Get Your Pass</h1>
          </div>
        </div>
      </div>
      <div class="main-body">
        <div class="container py-5">
          <div class="row">
            <input type="hidden" id="sitekey" value="<%= captchaKey %>" />
            <div
              class="col-lg-4 mb-5 animate__animated animate__backInLeft animate__delay-1s"
            >
              <div class="venue-detail">
                <h3><span class="fa fa-map-marker"></span> Venue</h3>
                <p>
                  <b>Vivaan Farms</b><br />
                  Sector 150 Noida, 201310<br />
                  Gautama Budhha Nagar, Uttar Pradesh
                </p>
              </div>
              <div class="mt-5 all-tickets p-2">
                <h2 class="pb-2 border-bottom">TICKETS</h2>
                <div class="ticket-container mt-3"></div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="ticket-form">
                <div
                  class="internal-container c1 package-choose"
                  style="display: none"
                >
                  <div class="row">
                    <!-- Individual -->
                    <div
                      class="col-lg-4 my-2 animate__animated animate__backInUp"
                    >
                      <div class="mcard" data-id="individual">
                        <div
                          class="mheader"
                          style="
                            background: url(/assets/images/packages/individual.jpg)
                              center;
                            background-size: cover;
                          "
                        ></div>
                        <div class="mfooter">
                          <h3 class="p-0">Individual</h3>
                          <p>
                            Perfect for students looking to enjoy their own
                            experience while meeting new people and making
                            friends.
                          </p>
                          <button class="tbtn" data-id="individual">
                            <span class="price">₹499</span>
                            <span>/ person</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- Couple -->
                    <div
                      class="col-lg-4 my-2 animate__animated animate__backInUp"
                    >
                      <div class="mcard" data-id="couple">
                        <div
                          class="mheader"
                          style="
                            background: url(/assets/images/packages/couple.jpg)
                              center;
                            background-size: cover;
                          "
                        ></div>
                        <div class="mfooter">
                          <h3 class="p-0">Couple</h3>
                          <p>
                            Ideal for couples seeking a romantic getaway or
                            shared adventure, offering a chance to relax and
                            enjoy quality time together.
                          </p>
                          <button class="tbtn" data-id="couple">
                            <span class="price">₹899</span>
                            <span>/ couple</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- Group -->
                    <div
                      class="col-lg-4 my-2 animate__animated animate__backInUp"
                    >
                      <div class="mcard" data-id="group">
                        <div
                          class="mheader"
                          style="
                            background: url(/assets/images/packages/group.png)
                              bottom;
                            background-size: cover;
                          "
                        ></div>
                        <div class="mfooter">
                          <h3 class="p-0">Group</h3>
                          <p>
                            Great for friends or teams wanting to bond, share
                            exciting experiences, and create unforgettable
                            memories together.
                          </p>
                          <button class="tbtn" data-id="group">
                            <span class="price">₹2249</span>
                            <span>/ 5 person</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="internal-container c2 package-choose"
                  style="display: none"
                >
                  <div class="individual-form mt-5 row justify-content-center">
                    <table
                      class="w-100 table table-striped"
                      style="display: none"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Name</th>
                        </tr>
                      </thead>
                    </table>
                    <div
                      class="form-unit animate__animated animate__backInRight col-lg-8"
                    >
                      <div class="row variable_form">
                        <div class="col-12">
                          <h2 class="text-center">Pass Details</h2>
                          <h6 class="person_count"></h6>
                        </div>
                        <div class="col-md-12 my-1">
                          <label for="name" class="form-label">Name:*</label>
                          <input
                            required
                            class="form-control"
                            id="name"
                            placeholder="Enter Your Name"
                          />
                        </div>
                        <div class="col-md-12 my-1">
                          <label for="mobile" class="form-label"
                            >Mobile Number:*</label
                          >
                          <input
                            required
                            class="form-control"
                            type="number"
                            id="mobile"
                            placeholder="Enter Your Mobile Number"
                          />
                        </div>
                        <div class="col-md-12 my-1">
                          <label for="age" class="form-label"
                            >Age (in Years):*</label
                          >
                          <input
                            required
                            class="form-control"
                            type="number"
                            id="age"
                            placeholder="Enter Your Age"
                          />
                        </div>
                        <div class="col-md-12 my-1">
                          <label for="college" class="form-label"
                            >College Name:*</label
                          >
                          <input
                            required
                            class="form-control"
                            type="text"
                            id="college"
                            placeholder="Enter Your College Name"
                          />
                        </div>
                        <div class="col-md-12 my-1">
                          <label class="form-label">Select Gender:*</label>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gender"
                              id="male"
                              value="Male"
                            />
                            <label class="form-check-label" for="male"
                              >Male</label
                            >
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gender"
                              id="female"
                              value="Female"
                            />
                            <label class="form-check-label" for="female"
                              >Female</label
                            >
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="text-end">
                            <button
                              class="my-2 btn btn-primary w-50 nextbtn rounded-0"
                            >
                              Next <span class="fa fa-arrow-right"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="row final-submit" style="display: none">
                        <div class="w-100 justify-content-center d-inline-flex">
                          <div id="mcaptcha"></div>
                        </div>
                        <div class="col-sm-12 my-2 text-center">
                          <button
                            class="w-50 btn btn-primary sbmtbtn"
                            style="display: none"
                            id="payButton"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <style>
      body {
        background: url(assets/images/banner_bg.jpg) fixed;
        background-size: cover;
        overflow-x: hidden;
      }

      .header {
        background: white;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        padding: 2rem 0;
        letter-spacing: 2px;
      }

      .main-body {
        margin-top: 5rem;
        background-color: white;
      }

      .venue-detail p {
        opacity: 0.8;
      }

      @media screen and (max-width: 992px) {
        .venue-detail {
          text-align: center;
        }
      }

      .package-choose .mcard {
        border: 2px solid;
        border-radius: 5px;
        overflow: hidden;
      }

      .package-choose .mcard {
        height: 100%;
        background-color: black;
      }

      .package-choose .mcard .mheader {
        height: 200px;
        background-position: center;
        background-size: cover;
      }

      .package-choose .mcard .mfooter {
        background: black;
        color: white;
        padding: 10px 20px;
        max-height: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .package-choose .mcard .mfooter .tbtn {
        padding: 10px;
        width: 100%;
        background: transparent;
        color: white;
        border: 2px solid;
        transition: 0.2s;
      }

      .package-choose .mcard .mfooter .tbtn:hover {
        background: white;
        color: black;
      }

      h5.myplan {
        position: absolute;
        background: purple;
        color: white;
        text-transform: uppercase;
        padding: 3px 10px;
        border-radius: 10px;
        margin-left: 10px;
        font-size: 10px;
      }

      .ticket-unit {
        color: white;
        position: relative;
        margin: 10px 0;
        box-shadow: 2px 2px 0 0 #00000042;
        background: url(/assets/images/banner_bg_1.jpg);
      }

      .ticket-interior {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .ticket-unit:before {
        position: absolute;
        content: "";
        background: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        left: -15px;
        top: calc(50% - 15px);
      }

      .ticket-unit:after {
        position: absolute;
        content: "";
        background: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        right: -15px;
        top: calc(50% - 15px);
      }

      .ticket-unit .ticket-header h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 10px;
        border-bottom: 1px dashed white;
        font-size: 1.2rem;
      }

      .ticket-unit .ticket-body h4 {
        font-size: 0.8rem;
        font-weight: 400;
        padding-left: 10px;
      }
    </style>

    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <script>
      let currentForm = 1;
      let tgt;
      const userData = [];
      const renderTicketList = () => {
        $(".ticket-container").empty();
        userData.forEach((ticket) => {
          $(".ticket-container").append(`<div class="ticket-unit">
            <div class="ticket-interior">
                      <div class="ticket-header">
                        <h3>${ticket.name.toUpperCase()}</h3>
                      </div>
                      <div class="ticket-body">
                        <h4>${ticket.age}, ${ticket.gender}</h4>
                        <h4>${ticket.college}</h4>
                      </div>
                    </div>
                  </div>`);
        });
      };
      function captchaChecked() {
        $(".sbmtbtn").fadeIn();
      }
      function showFinalSubmit() {
        $(".nextbtn").hide();
        $(".final-submit").show();
        $(".variable_form").hide();
        grecaptcha.render("mcaptcha", {
          sitekey: $("#sitekey").val(),
          callback: "captchaChecked",
        });
      }
      function renderForm(unit) {
        $(".person_count").html(
          `<b>Pass</b>: <span id='cccount'>${currentForm}</span>/${unit}`
        );
        if (currentForm > unit) {
          $(".person_count").remove();
        }
        $(".nextbtn").click(() => {
          const name = $("#name").val();
          const mobile = $("#mobile").val();
          const age = $("#age").val();
          const college = $("#college").val();
          const gender = $("input[name='gender']:checked").val();
          if (!name || !mobile || !age || !college || !gender) {
            alert("All fields are required!");
            return false;
          }
          $("#name").val("");
          $("#mobile").val("");
          $("#age").val("");
          $("#college").val("");
          $("input[name='gender']").prop("checked", false);

          const tmp = {};
          tmp.name = name;
          tmp.mobileNumber = mobile;
          tmp.age = age;
          tmp.college = college;
          tmp.gender = gender;
          tmp.packageName = tgt;

          userData.push(tmp);

          renderTicketList();
          if (currentForm++ == unit) {
            showFinalSubmit();
          } else {
            $(".form-unit").hide();
            setTimeout(() => {
              $(".form-unit").show();
            }, 100);
          }
          $("#cccount").text(currentForm);
        });
      }
      $(document).ready(() => {
        let currentPage = 1;
        let packagePrice = 499;

        const showPage = (currentPage) => {
          const clsPfx = ".ticket-form .internal-container.package-choose";
          $(`${clsPfx}`).hide();
          $(`${clsPfx}.c${currentPage}`).show();
        };
        showPage(currentPage);

        $(".package-choose.c1 button.tbtn").click(function () {
          tgt = $(this).data("id");
          switch (tgt) {
            case "individual":
              packagePrice = 499;
              renderForm(1);
              break;

            case "couple":
              packagePrice = 899;
              renderForm(2);
              break;

            case "group":
              packagePrice = 2249;
              renderForm(5);
              break;

            default:
              packagePrice = 499;
              renderForm(1);
              break;
          }

          $("#ttlcsttkt").val(packagePrice);

          $(".myplan").text(`${tgt} - ₹${packagePrice}`);
          showPage(++currentPage);
        });

        $(".sbmtbtn").click(async () => {
          if (userData.length == 0) {
            alert("No Cart in Ticket!");
            return false;
          }
          $("#mcaptcha").hide();
          const response = await fetch("/payment/create-order", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ amount: packagePrice, data: userData }),
          });

          const order = await response.json();
          var options = {
            key: "rzp_live_n5r0eMfuX4obUf",
            amount: order.amount,
            currency: "INR",
            name: "Rang Tarang",
            description: "Holi Party Ticket",
            order_id: order.id,
            handler: async function (response) {
              console.log(response);
              const verifyRes = await fetch("/payment/verify-payment", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(response),
              });

              const result = await verifyRes.json();
              let storedOrders = localStorage.getItem("storedOrders");
              storedOrders = storedOrders ? JSON.parse(storedOrders) : [];
              storedOrders.push(order.id);
              localStorage.setItem(
                "storedOrders",
                JSON.stringify(storedOrders)
              );

              if (result.success) {
                $.post("/payment/checkOrder", { orderId: order.id }, (data) => {
                  if (data.status == "success") {
                    window.location.href = "/orders";
                  } else {
                    alert(data.message);
                  }
                });
              } else {
                alert("Payment Failed!");
                window.location.href = "/tickets";
              }
            },
            prefill: {
              name: userData[0].name,
              contact: userData[0].mobileNumber,
            },
            theme: {
              color: "#3399cc",
            },
          };

          var rzp = new Razorpay(options);
          rzp.open();
        });
      });
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback"></script>
  </body>
</html>
