<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact US</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container my-5">
      <div class="mb-3 text-center">
        <img src="/assets/images/logo_text.png" width="100px" alt="logo" />
      </div>
      <h2 class="text-center mb-4">Contact Us</h2>

      <div class="card p-4 shadow-sm">
        <h4>Get in Touch</h4>
        <p>
          If you have any questions, feel free to reach out to us through the
          following contact details:
        </p>

        <ul class="list-unstyled">
          <li>
            <strong>Email:</strong>
            <a href="mailto:instamoentertainment@gmail.com"
              >instamoentertainment@gmail.com</a
            >
          </li>
          <li>
            <strong>Mobile:</strong>
            <a href="tel:+917856015762">+91 7856015762</a>
          </li>
        </ul>

        <h4>Business Hours</h4>
        <p>We are available during the following hours:</p>
        <ul>
          <li>Monday - Friday: 10:00 AM - 6:00 PM</li>
          <li>Saturday - Sunday: 11:00 AM - 4:00 PM</li>
        </ul>
      </div>
    </div>
  </body>
</html>
