<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Term & Conditions</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container my-5">
      <div class="mb-3 text-center">
        <a href="/"
          ><img src="/assets/images/logo_text.png" width="100px" alt="logo"
        /></a>
      </div>
      <h2 class="text-center mb-4">Terms and Conditions</h2>

      <div class="card p-4 shadow-sm">
        <h4>Effective Date</h4>
        <p>
          These terms and conditions are effective as of
          <strong>March 12, 2025</strong>.
        </p>

        <h4>Contact Information</h4>
        <p>
          If you have any questions about these Terms, please contact us at:
        </p>
        <ul>
          <li>Email: <strong>instamoentertainment@gmail.com</strong></li>
          <li>Phone: <strong>8292295003</strong></li>
        </ul>

        <h4>Limitation of Liability & Disclaimer of Warranties</h4>
        <p>
          We do not guarantee that our services will be error-free,
          uninterrupted, or secure. In no event shall we be liable for any
          indirect, incidental, special, or consequential damages arising out of
          or related to the use of our website.
        </p>

        <h4>Rules of Conduct</h4>
        <ul>
          <li>
            Users must provide accurate and complete information during
            registration.
          </li>
          <li>
            Respectful behavior towards other users is expected at all times.
          </li>
          <li>
            Any fraudulent activity or misuse of our services will result in
            account suspension.
          </li>
        </ul>

        <h4>User Restrictions</h4>
        <ul>
          <li>
            Users must be at least 18 years old or have parental consent to
            participate.
          </li>
          <li>
            Reproduction or redistribution of any content without permission is
            strictly prohibited.
          </li>
          <li>
            We reserve the right to refuse service to anyone violating these
            terms.
          </li>
        </ul>

        <p class="mt-3">
          <strong
            >By using our services, you agree to comply with these Terms and
            Conditions.</strong
          >
        </p>
      </div>
    </div>
  </body>
</html>
